<title>{% block title %}Avis SELF{% endblock %}</title>

    {% block stylesheets %}

    <link href="/css/style-client.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  

    {% endblock %}
        
{% block body %}
<div class="header">
    <div class="container py-5 text-center">
        <h1>Avis sur le self</h1>
        <p>Ce site web vous permet de noter le self dans diverses catégories, <b>à titre anonyme<b>.</p>
    </div>
</div>
<br/><br/>
<form action="" method="GET"/>
<div class="star-ratings-input"> <!--GOUT-->
  <h2>Goût du plat</h2>
  <p>Indiquez votre avis en notant de 1 à 5 étoiles, le goût du plat.</p>
  <input type="radio" id="note-gout1" value="1" name="note-gout" />
  <input type="radio" id="note-gout2" value="2" name="note-gout"/>
  <input type="radio" id="note-gout3" value="3" name="note-gout"/>
  <input type="radio" id="note-gout4" value="4" name="note-gout"/>
  <input type="radio" id="note-gout5" value="5" name="note-gout"/>
  <div class="stars">
    <label for="note-gout5">★</label>
    <label for="note-gout4">★</label>
    <label for="note-gout3">★</label>
    <label for="note-gout2">★</label>
    <label for="note-gout1">★</label>
  </div>
</div>
<div class="star-ratings-input"> <!--DIVERSITE-->
  <h2>Diversité des plats</h2>
  <p>Indiquez votre avis en notant de 1 à 5 étoiles, la diversité des plats proposés.</p>
  <input type="radio" id="note-diversite1" value="1" name="note-diversite" />
  <input type="radio" id="note-diversite2" value="2" name="note-diversite"/>
  <input type="radio" id="note-diversite3" value="3" name="note-diversite"/>
  <input type="radio" id="note-diversite4" value="4" name="note-diversite"/>
  <input type="radio" id="note-diversite5" value="5" name="note-diversite"/>
  <div class="stars">
    <label for="note-diversite5">★</label>
    <label for="note-diversite4">★</label>
    <label for="note-diversite3">★</label>
    <label for="note-diversite2">★</label>
    <label for="note-diversite1">★</label>
  </div>
</div>
<div class="star-ratings-input"> <!--CHALEUR-->
  <h2>Chaleur du plat</h2>
  <p>Indiquez votre avis en notant de 1 à 5 étoiles, la chaleur du plat.</p>
  <input type="radio" id="note-chaleur1" value="1" name="note-chaleur" />
  <input type="radio" id="note-chaleur2" value="2" name="note-chaleur"/>
  <input type="radio" id="note-chaleur3" value="3" name="note-chaleur"/>
  <input type="radio" id="note-chaleur4" value="4" name="note-chaleur"/>
  <input type="radio" id="note-chaleur5" value="5" name="note-chaleur"/>
  <div class="stars">
    <label for="note-chaleur5">★</label>
    <label for="note-chaleur4">★</label>
    <label for="note-chaleur3">★</label>
    <label for="note-chaleur2">★</label>
    <label for="note-chaleur1">★</label>
  </div>
</div>
<div class="star-ratings-input"> <!--DISPONIBILITE-->
  <h2>Disponibilité des plats</h2>
  <p>Indiquez votre avis en notant de 1 à 5 étoiles, la disponibilité des plats à votre arrivé au self.</p>
  <input type="radio" id="note-disponibilite1" value="1" name="note-disponibilite" />
  <input type="radio" id="note-disponibilite2" value="2" name="note-disponibilite"/>
  <input type="radio" id="note-disponibilite3" value="3" name="note-disponibilite"/>
  <input type="radio" id="note-disponibilite4" value="4" name="note-disponibilite"/>
  <input type="radio" id="note-disponibilite5" value="5" name="note-disponibilite"/>
  <div class="stars">
    <label for="note-disponibilite5">★</label>
    <label for="note-disponibilite4">★</label>
    <label for="note-disponibilite3">★</label>
    <label for="note-disponibilite2">★</label>
    <label for="note-disponibilite1">★</label>
  </div>
</div>
<div class="star-ratings-input"> <!--PROPRETE-->
  <h2>Propreté du self</h2>
  <p>Indiquez votre avis en notant de 1 à 5 étoiles, la propreté du self (environnement, plateau, couverts, table, etc...).</p>
  <input type="radio" id="note-proprete1" value="1" name="note-proprete" />
  <input type="radio" id="note-proprete2" value="2" name="note-proprete"/>
  <input type="radio" id="note-proprete3" value="3" name="note-proprete"/>
  <input type="radio" id="note-proprete4" value="4" name="note-proprete"/>
  <input type="radio" id="note-proprete5" value="5" name="note-proprete"/>
  <div class="stars">
    <label for="note-proprete5">★</label>
    <label for="note-proprete4">★</label>
    <label for="note-proprete3">★</label>
    <label for="note-proprete2">★</label>
    <label for="note-proprete1">★</label>
  </div>
</div>
<div class="star-ratings-input"> <!--ACCUEIL-->
  <h2>Accueil du self</h2>
  <p>Indiquez votre avis en notant de 1 à 5 étoiles, l'accueil du self.</p>
  <input type="radio" id="note-accueil1" value="1" name="note-accueil" />
  <input type="radio" id="note-accueil2" value="2" name="note-accueil"/>
  <input type="radio" id="note-accueil3" value="3" name="note-accueil"/>
  <input type="radio" id="note-accueil4" value="4" name="note-accueil"/>
  <input type="radio" id="note-accueil5" value="5" name="note-accueil"/>
  <div class="stars">
    <label for="note-accueil5">★</label>
    <label for="note-accueil4">★</label>
    <label for="note-accueil3">★</label>
    <label for="note-accueil2">★</label>
    <label for="note-accueil1">★</label>
  </div>
</div>
<textarea cols="30" rows="50" placeholder="Commentaire"></textarea>
<input type="submit" value"Envoi"/>
</form>
{% endblock %}
