{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

      <div id="content" class="p-4 p-md-5 pt-5">
        <h2 class="mb-4">Bonjour (Admin)</h2>
        <p>Bienvenue sur la page d'administration de l'application FeedBack.</p>
		<p>Cette page permet de voir en temps réel les avis sur le self mais aussi de pouvoir exporter les données en format excel et pdf</p>
		<p>De plus il est possible de rajouter des administrateur mais aussi de rajouter des types d'avis et de les supprimer et/ou les modifier</p>
		<p>Vous pourrez aussi voir les avis en forme de graphique ou de tableau</p>
		<p>En cas de problèmes avec l'application merci de prévenir son concepteur.</p>
		<p>Cette application à été créer pour le Lycée Notre Dame de la Providence à Avranches.</p>
		<img src="images/ndlp.jpg" alt="">
      </div>
{% endblock %}
