


<h2 class="mb-4">Les commentaires du {{startDate|date('d/m/Y')}} au {{endDate|date('d/m/Y')}}</h2>
<table style="font-size:13px"  width="78%" height="263" align ="center" class = "tableau">
    <thead class="thead-dark">
                    <tr>
                        <th width="60" align="center">Commentaires des plats</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for avis in les_avis %}
                        <tr>
                            <td width="60" align="center">{{ avis.commentaire}}</td>
                        </tr>
                    {% endfor %}   
</tbody>
</table>