{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
<a class="btn btn-secondary" href="{{ path('user_index') }}">Retour</a>

{% endblock %}

