{% extends 'base.html.twig' %}

{% block title %}Créer{% endblock %}

{% block body %}
    <h1>Créer nouvel utilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('user_index') }}">Retour</a>
{% endblock %}

